body {
    font-family: 'Courier New', Courier, monospace;
    margin: 1440px auto;
    background: black;
}

.logo_header {
    display: flex;
    text-align: center;
    position: relative;
    justify-content: center;
    margin: 20px;
}

.menu_navegacao {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: end;
    margin: 20px 10px;
    padding-right: 40px;
}

.menu {
    color: white;
    text-decoration: none;
}

.menu_navegacao ul li {
    display: inline-block;
    position: relative;
    align-items: center;
    font-size: 12px;
    line-height: 21px;
    font-weight: 600;
    margin: 0px 5px ;
    color: white;
}

.button_disponibilidade {
    display: flex;
    position: relative;
    justify-content: center;
}
   











