body {
    font-family: 'Courier New', Courier, monospace;
    margin: 1440px auto;
}

.menu_navegacao {
    align-items: center;
    text-align: center;
}

.menu_navegacao ul li {
    display: inline;
    font-size: 17px;
    line-height: 21px;
    font-weight: 600;
    margin: 0px 5px ;
}